## PRIVACY ##
api/appti.md

## LATEX ##
# keep only the main source(s)
api/src/tesiApi*
api/src/beamer*
!api/src/bozza.tex
# exclude more auxiliary files
api/src/pezzi/*.aux
# mainly PDFS and big files
api/modellini
api/paperi
api/da\ Panella
api/src/img
api/src/prof

# random stuff
api/src/francescoDeLeo.md
api/src/lorem.tex
api/contatti
api/src/micheleValleri
api/src/Pan
conferenza\ confagricoltura
api/src/tesi-Dimai-template-v1

# animazioni, per ora. Forse togliere se decido di projettarle alla discuss?
animaz

# da escludere, chiunque li abbia generati (for safety and cleanliness)
**/*.log

## wxMaxima
*.wxmx



# exclude all big files (remind that ** matches zero or more dirs)
**/*.pdf
**/*.png

## SIMULATIONS
simulaz/result.txt
simulaz/untitled.ofig
simulaz/output
simulaz/__pycache__
simulaz/handSelectedOutput


