
# keep only the main source(s)
api/src/tesiApi*
!api/src/bozza.tex

# exclude more auxiliary files
api/src/pezzi/*.aux

# mainly PDF files
api/modellini
api/paperi
api/da\ Panella

# moar stuff to exclude
api/src/img
api/src/prof
api/src/francescoDeLeo.md
api/src/lorem.tex
api/contatti
aiutoCalcoli.wxmx
api/appti.md


# exclude big files (remind that ** matches zero or more dirs)
**/*.pdf
**/*.png

# in simulations
simulaz/result.txt

